mixin menu
    menu.menu&attributes(attributes)
        each item in MENU
            li.menu__item
                a(href=item.link data-value=item.slug).menu__link.js-menu-link
                    = item.text
                    if item.submenu
                      +icon('angle-down')
