@use 'scss/config' as *;

.menu {
  display: none;
  margin: 0;
  padding: 0;
  gap: clamp(rem(8px), 0.8vw, rem(35px));
  line-height: 1;

  @include media(tab-l) {
    @include flex(space-between, center);
  }

  &__link {
    --link-width: 100%;

    @include flex(null, center);

    position: relative;
    height: rem(36px);
    gap: rem(2px);
    font-size: rem(14px);
    font-weight: var(--typography-semibold);
    white-space: nowrap;

    &:has(.icon) {
      --link-width: calc(100% - 18px);
    }

    &::before {
      @include size(0, rem(2px));
      @include transition;

      position: absolute;
      inset-inline: 0;
      inset-block-start: 100%;
      border-radius: rem(2px);
      background-color: var(--color-neon-azure);
      content: '';
    }

    &--active {
      color: var(--color-neon-azure);

      &::before {
        width: var(--link-width);
      }

      .icon {
        transform: rotateZ(180deg);
      }
    }

    .icon {
      @include size(rem(16px));

      flex-shrink: 0;
    }
  }
}
