mixin head(title)
  head
    title= title
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=Edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="theme-color" content="#fff")
    meta(name="format-detection" content="telephone=no")
    meta(name="description" content="Template")
    meta(name="keywords" content="Keywords")
    link(rel="canonical" href="https://site.com/")
    link(href=require('scss/app.scss') rel='stylesheet')
    link(href=require('scss/custom.scss') rel='stylesheet')
