meta(name="twitter:card" content="summary")
meta(name="twitter:site" content="@site.com")
meta(name="twitter:title" content="Site")
meta(name="twitter:description" content="Site Description")
meta(name="twitter:creator" content="@site.com")
meta(name="twitter:image" content="./img/icons/apple-icon-120x120.png")

meta(property="og:title" content="Title")
meta(property="og:type" content="article")
meta(property="og:url" content="https://site.com/")
meta(property="og:image" content="./img/icons/apple-icon-120x120.png")
meta(property="og:description" content="Site Description")
meta(property="og:site_name" content="Title")
