@use 'scss/config' as *;

.content-context {
  padding: rem(20px);
  border: rem(1px) solid var(--color-polar-white);
  border-radius: rem(10px);
  background-color: var(--color-white);

  &__toggle {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: rem(10px);
    align-items: center;
    width: 100%;
    font-size: rem(20px);
    font-weight: var(--typography-bold);
    text-align: left;
    color: var(--color-neon-azure);
  }

  &__angle {
    @include size(rem(24px));
  }

  &__dropdown {
    display: none;
    padding-top: rem(15px);
  }

  &__item {
    display: grid;
    grid-template-columns: rem(20px) 1fr;
    gap: rem(10px);
    align-items: center;
    font-weight: var(--typography-semibold);

    @include media(tab-l) {
      font-size: rem(18px);
    }

    &:not(:last-child) {
      margin-bottom: rem(15px);
    }

    .content-context {

      &__list {
        grid-area: 2 / 2 / 3 / 3;
      }
    }
  }

  &__count {
    grid-area: 1 / 1 / 2 / 2;
  }

  &__link {
    grid-area: 1 / 2 / 2 / 3;
    text-decoration: underline;
    text-decoration-style: dotted;
    text-underline-offset: rem(3px);
  }

  &--active {

    .content-context {

      &__dropdown {
        display: block;
      }

      &__angle {
        transform: rotateZ(90deg);
      }
    }
  }
}
