mixin nav
    nav.nav&attributes(attributes)
        .container-fluid
            .container
                .grid.grid--align-center
                    .col-2.col-tab-l-1.col-desk-s-2
                        +logo
                    .col-1.col-tab-l-7.col-desk-s-7
                        +menu
                    .col-9.col-tab-l-4.col-desk-s-3
                        .nav__options
                            +language.nav__language.js-language
                            a(href="./" aria-label="Trusted BIN'S for Ads").button.button--blue.button--md.nav__button
                                | Trusted BIN'S for Ads
                            +button(null, null, 'search')(aria-label="Toggle").button--white.button--square.nav__option.js-nav-search
                            button(type="button" aria-label="Toggle menu").button.button--white.button--square.nav__toggle.js-nav-toggle
                                span
                                span
                                span

        +submenu-mob.js-submenu-mob
        +submenu-desk.js-submenu-desk
