@use 'scss/config' as *;

:root {
  --nav-height: 70px;
  --grid-gap: 16px;

  @include media(tab-l) {
    --grid-gap: 24px;
  }
}

*,
::after,
::before {
  box-sizing: border-box;
}

body {
  @include smooth-font;

  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: var(--typography-medium);
  line-height: var(--line-height);
  overflow-y: auto;
  color: var(--color-carbon-black);
  background-color: var(--color-polar-white);
}

button,
a {
  @include transition(all);
}

button {
  @include reset-button;
}

input {
  width: 100%;
  padding: 0;
  border: 0;
  font-weight: var(--typography-semibold);
  line-height: 1;
  background-color: transparent;

  &:focus {
    outline: none;
  }
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;

  @include hover {

    &:hover {
      color: var(--color-neon-azure);
    }
  }

  &:active {
    color: var(--color-stellar-blue);
  }
}

p {
  margin: 0;
  padding: 0;
}

ul,
ol {
  @include reset-list;
}

li {
  list-style: none;
}

hr {
  @include size(100%, rem(1px));

  display: block;
  border: 0;
  margin-block: 0;
  background-color: var(--color-carbon-black);
}

img,
svg,
picture {
  display: block;
  max-width: 100%;
  height: auto;
}

blockquote {
  position: relative;
  margin: 0;
  padding-inline-start: rem(20px);

  &::before {
    position: absolute;
    inset-block: 0;
    inset-inline-start: 0;
    width: rem(5px);
    background-color: var(--color-neon-azure);
    content: '';
  }
}

.text {
  font-size: rem(14px);

  @include media(tab-l) {
    font-size: rem(16px);
  }
}

.main {
  display: grid;
  position: relative;
  min-height: calc(100dvh - var(--nav-height));
  padding-bottom: rem(30px);

  @include media(tab-l) {
    padding-bottom: rem(70px);
  }
}

.section {
  position: relative;
  padding-block: rem(30px);

  @include media(tab-l) {
    padding-block: rem(40px);
  }

  &--overflow {
    overflow: hidden;
  }

  &--black {
    overflow: hidden;
    color: var(--color-white);
    background-color: var(--color-carbon-black);
    margin-block: rem(30px);

    @include media(tab-l) {
      margin-block: rem(40px);
    }

    &::before {
      top: 20%;
      left: 0;
      transform: rotateZ(-44deg);
    }

    &::after {
      top: -45%;
      right: 24%;
      transform: rotateZ(-44deg) scaleX(-1);
    }

    &::after,
    &::before {
      @include size(rem(612px), rem(1400px));

      position: absolute;
      background-image: url("data:image/svg+xml,%3Csvg width='624' height='1401' viewBox='0 0 624 1401' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.7' filter='url(%23filter0_f_1110_3)'%3E%3Cpath d='M423.439 792.856C423.439 1010.04 374.896 1200.2 326.134 1200.2C277.371 1200.2 320.303 1021.78 320.303 804.594C320.303 587.407 160.492 200 209.255 200C258.017 200 423.439 575.669 423.439 792.856Z' fill='%230160FD'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_f_1110_3' x='0' y='0' width='623.439' height='1400.2' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/%3E%3CfeGaussianBlur stdDeviation='100' result='effect1_foregroundBlur_1110_3'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E%0A");
      background-position: 50% 50%;
      background-size: cover;
      content: '';
    }

    .container-fluid {
      z-index: $z-index-1;
    }
  }
}

.content {
  --count: 1;
  --left-column: 310px;
  --right-column: 420px;

  display: grid;
  gap: var(--grid-gap);
  align-items: flex-start;

  @include media(tab-l) {
    grid-template-rows: auto auto 1fr;
  }

  &:has(.content__header){
    --count: 2;
  }

  &__left,
  &__right {
    @include flex(null, null, column);

    gap: var(--grid-gap);
  }

  &__center {
    overflow: hidden;

    &:has(.banner) {

      .post-single {
        margin-bottom: rem(30px);

        @include media(tab-l) {
          margin-bottom: rem(50px);
        }
      }
    }
  }

  &__header {
    @include media(tab-l) {
      grid-area: 1 / 1 / 2 / 3;
    }
  }

  &__title {
    @include flex(null, center);

    gap: rem(20px);
    margin-bottom: rem(10px);
  }

  &__subtitle {
    font-size: rem(24px);

    @include media(tab-l) {
      font-size: rem(30px);
    }
  }

  &__text {

    &:has(a, button) {
      display: grid;
      gap: rem(13px);
      align-items: flex-end;

      @include media(tab-l) {
        grid-template-columns: 50% minmax(rem(150px), auto);
        justify-content: space-between;
      }
    }

    &:not(:has(.button)) {
      @include media(tab-l) {
        max-width: 50%;
      }
    }
  }

  &__label {
    color: var(--color-neon-azure);
  }

  &__meta {
    padding: rem(20px);
    border-radius: rem(10px);
    background-color: var(--color-white);
  }

  &__top {
    @include flex(center, center);
    @include size(rem(50px));

    flex-shrink: 0;
    border-radius: 50%;
    color: var(--color-white);
    background-color: var(--color-neon-azure);

    .icon {
      @include size(rem(24px), rem(27px));
    }
  }

  &__right {
    margin-top: rem(36px);

    @include media(tab-l) {
      margin-top: 0;
    }
  }

  &__date {
    padding: rem(10px) rem(15px);
    border-width: rem(2px) rem(5px);
    border-style: solid;
    border-color: var(--color-neon-azure);
    border-radius: rem(10px);
    font-size: rem(18px);
    font-weight: var(--typography-black);
    font-style: italic;
    text-align: center;

    @include media(tab-l) {
      font-size: rem(20px);
    }
  }

  &__section {

    &:not(:last-child) {
      margin-bottom: rem(80px);

      @include media(tab-l) {
        margin-bottom: rem(60px);
      }
    }
  }

  &--left {
    @include media(tab-l) {
      grid-template-columns: var(--left-column) 1fr;
    }

    .content {

      &__left {
        @include media(tab-l) {
          grid-area: var(--count) / 1 / 3 / 2;
        }
      }

      &__center {
        @include media(tab-l) {
          grid-area: var(--count) / 2 / 4 / 3;
        }
      }

      &__right {
        @include media(tab-l) {
          grid-area: calc(var(--count) + 1) / 1 / 4 / 2;
        }
      }
    }
  }

  &--right {
    @include media(tab-l) {
      grid-template-columns: 1fr var(--right-column);
    }

    .content {

      &__center {
        @include media(tab-l) {
          grid-area: var(--count) / 1 / 4 / 2;
        }
      }

      &__right {
        @include media(tab-l) {
          grid-area: calc(var(--count) + 1) / 2 / 1 / 3;
        }
      }
    }
  }
}

.content-quote-card {
  padding: rem(20px) rem(25px);
  border-radius: rem(20px) rem(5px);
  color: var(--color-white);
  background-color: var(--color-stellar-blue);

  &::before {
    @include size(rem(50px));

    display: block;
    margin-bottom: rem(10px);
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 50 50' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.24189 10.7343C7.74828 6.933 13.0541 5.0061 20.0094 5.0061H22.5086V12.0514L20.4993 12.4538C17.0753 13.1385 14.6936 14.4856 13.419 16.4625C12.7537 17.5274 12.3765 18.7469 12.3243 20.0014H20.0094C20.6723 20.0014 21.3079 20.2647 21.7766 20.7334C22.2453 21.2021 22.5086 21.8378 22.5086 22.5006V39.9951C22.5086 42.7517 20.2668 44.9935 17.5102 44.9935H2.51493C1.8521 44.9935 1.21641 44.7302 0.747717 44.2615C0.279024 43.7928 0.0157146 43.1572 0.0157146 42.4943V29.9982L0.0232123 22.703C0.000719404 22.4256 -0.474131 15.8527 4.24189 10.7343ZM45.0016 44.9935H30.0063C29.3435 44.9935 28.7078 44.7302 28.2391 44.2615C27.7704 43.7928 27.5071 43.1572 27.5071 42.4943V29.9982L27.5146 22.703C27.4921 22.4256 27.0172 15.8527 31.7332 10.7343C35.2396 6.933 40.5455 5.0061 47.5008 5.0061H50V12.0514L47.9906 12.4538C44.5667 13.1385 42.185 14.4856 40.9104 16.4625C40.2451 17.5274 39.8679 18.7469 39.8157 20.0014H47.5008C48.1636 20.0014 48.7993 20.2647 49.268 20.7334C49.7367 21.2021 50 21.8378 50 22.5006V39.9951C50 42.7517 47.7582 44.9935 45.0016 44.9935Z' fill='white'/%3E%3C/svg%3E%0A");
    background-size: cover;
    content: '';
  }
}

.submenu-mob,
.submenu-desk {
  @include scroll-y;

  display: none;
  position: absolute;
  inset-block-start: 100%;
  inset-inline: 0;
  max-height: calc(100dvh - var(--nav-height));
  background-color: var(--color-polar-white);

  &__bottom {
    background-color: #E7E8F4;

    .link {
      font-size: rem(14px);
      text-decoration: underline;
      text-underline-offset: rem(3px);
      color: var(--color-electric-ocean);
    }

    .social {
      justify-content: flex-end;
    }
  }

  &__field {

    &::placeholder {
      color: var(--color-carbon-black);
    }
  }

  &__search {
    @include flex(null, center);
    @include size(100%, rem(40px));

    gap: rem(10px);
    flex-shrink: 0;
    font-weight: var(--typography-semibold);

    .icon {
      @include size(24px);

      flex-shrink: 0;
    }
  }

  &__video {
    display: grid;
    gap: rem(15px);
    border-radius: rem(5px);
    background-color: var(--color-white);

    .video {
      border-radius: rem(5px);
    }

    .text {
      @include line-clamp(4);

      font-size: rem(16px);
      font-weight: var(--typography-semibold);
      line-height: 1;
    }
  }
}

.offer-content {
  margin-bottom: rem(20px);
  padding: rem(15px);

  @include media(desk-s) {
    margin-bottom: rem(24px);
  }

  &__header {
    display: grid;
    gap: rem(20px);
    margin-bottom: rem(20px);

    @include media(desk-s) {
      grid-template-columns: rem(302px) 1fr;
    }
  }

  &__picture {
    @include flex(center, center);

    position: relative;
    width: 100%;
    aspect-ratio: 1 / 1;
    max-width: rem(330px);
    max-height: rem(330px);
    padding: rem(24px);
    border: rem(1px) dashed var(--color-neon-azure);
    border-radius: rem(5px);
    margin-inline: auto;
  }

  &__status {
    position: absolute;
    inset-block-start: rem(16px);
    inset-inline-start: rem(16px);
    padding: rem(4px) rem(20px);
    border-radius: rem(100px);
    font-size: rem(14px);
    font-weight: var(--typography-semibold);
    color: var(--color-polar-white);
    background-color: var(--color-electric-lime);

    @include media(desk-s) {
       font-size: rem(16px);
    }
  }

  &__title {
    margin-bottom: rem(20px);

    @include media(tab-s) {
      font-size: rem(30px);
    }
  }

  &__list {
    display: grid;
    row-gap: rem(15px);
    margin-bottom: rem(36px);
    column-gap: rem(20px);

    @include media(tab-s) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__provider {
    display: block;
    margin-bottom: rem(20px);
    font-size: rem(18px);

    a {
      color: var(--color-neon-azure);
    }
  }

  &__meta {
    padding: rem(8px) rem(20px);
    border: rem(1px) solid var(--color-stroke-polar);
    border-radius: rem(5px);
    background-color: var(--color-polar-white);
  }

  &__description {
    @include line-clamp(3);

    &--active {
      -webkit-line-clamp: initial;
    }
  }

  &__more {
    display: grid;
    grid-template-columns: auto rem(18px);
    gap: rem(5px);
    align-items: center;
    margin-top: rem(10px);
    margin-inline: auto;
    font-weight: var(--typography-semibold);
    color: var(--color-neon-azure);

    .icon {
      @include size(18px);
    }

    &--active {

      .icon {
        transform: rotateZ(180deg);
      }
    }
  }
}

.offer-headline {
  display: grid;
  grid-template-columns: rem(60px) rem(235px) repeat(5, 1fr) rem(24px);
  align-items: center;
  padding: rem(6px) rem(15px);
  font-size: rem(14px);
  color: var(--color-neon-azure);

  &__cell {
    padding-inline: rem(15px);
  }
}

.offer-search {
  @include size(100%, rem(52px));

  display: grid;
  grid-template-columns: rem(24px) 1fr;
  gap: rem(10px);
  padding-inline: rem(15px);
  align-items: center;
  margin-bottom: rem(8px);
  border-radius: rem(10px);
  background-color: var(--color-white);

  &__icon {
    @include size(24px);

    color: var(--color-neon-azure);
  }

  &__input {
    font-size: rem(18px);

    &::placeholder {
      color: var(--color-dark-grey);
    }
  }
}

.modal {
  @include scroll-y;

  display: none;
  position: fixed;
  z-index: $z-index-11;
  align-items: center;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  background-clip: unset;

  &__content {
    width: 100%;
    padding: rem(20px);
    border: rem(1px) solid var(--color-stroke-polar);
    border-radius: rem(10px);
    text-align: end;
    background-color: var(--color-white);
    margin-inline: auto;
  }

  &__close {
    @include size(rem(24px));

    margin-inline: auto 0;

    .icon {
      @include size(100%);
    }
  }

  &--active {
    display: grid;
  }

  &--notification {

    .modal {

      &__content {
        max-width: rem(550px);
      }
    }
  }
}
