@use 'scss/config' as *;

.tag {
  padding: rem(3px) rem(12px);
  background-color: var(--color-category-grey);
  border-radius: rem(100px);
  color: var(--color-stellar-blue);
  font-size: rem(12px);
  font-weight: var(--typography-semibold);
  line-height: 1;
  text-align: center;

  @include hover {
    &:hover {
      color: var(--color-white);
      background-color: var(--color-neon-azure);
    }
  }

  @include media(tab-l) {
    padding: rem(4px) rem(16px);
    font-size: rem(14px);
  }

  &--disabled {
    pointer-events: none;
  }
}
