mixin tag(text, url)
    a(href=url aria-label=text title=text).tag&attributes(attributes)
        span.tag__title= text
        // TODO if need not active state add class .tag--disabled to parent block .tag
