mixin banner(data)
    a(href="/" aria-label="Batter label" title="Banner title").banner&attributes(attributes)
        img(src=data.image loading="eager" fetchpriority="high" alt="Banner title").banner__image
