mixin directory-meta
    .directory-meta&attributes(attributes)
        .directory-meta__header
            h1.directory-meta__title Makeberry
            img(src="https://palai.media/wp-content/uploads/2025/09/horizontal_black_2350x474-1.png" decoding="async" alt="Image description").directory-meta__img
            +tags([
              'IGaming',
              'Google'
            ])

        .directory-meta__left
            p.text Makeberry Affiliates is an affiliate network with more than 500 gambling and betting offers. A direct advertiser for WinSpirit Casino and RocketPlay Casino. In-house media buying and strong expertise across Tier-1 and Tier-2 markets, as well as a wide selection of offers in Tier-3 countries. A powerful analytics system allows campaign optimization and revenue maximization.
            .directory-meta__characters
                +character('Geo', 'Worldwide')
                +character('Payment Models', 'CPA, RevShare, Hybrid')
                +character('Number of Offers', '500+')
                +character('Payouts', 'NET 7')
                +character('Payment Systems', 'Wire Transfer, Crypto, FOP (Ukraine)')
                +character('Minimum Payment', '$100')

            .directory-meta__characters
                +character('Type of Games', 'Live dealer, slots, lottery').character--row
                +character('Awards', 'Recognized industry leader').character--row
                +character('Jackpots', 'Progressive jackpots').character--row
                +character('Certificates', 'Global gaming certifications').character--row

        .directory-meta__right
            h3.directory-meta__subtitle Makeberry Affiliates Contacts:
            .directory-meta__socials
                +social-block
                +social-block
            h4.directory-meta__label Makeberry’s social media:
            +social.social--polar-white.directory-meta__social
            +button('Registration').button--primary.button--md.button--wide
