@use 'scss/config' as *;

.submenu-mob {
  &--active {
    display: block;

    @include media(tab-l) {
      display: none !important;
    }
  }

  &__step {
    margin-bottom: rem(16px);
  }

  &__search {
    @include size(100%, rem(40px));

    padding-inline: rem(10px);
    border-radius: rem(10px);
    background-color: var(--color-white);
    min-width: rem(40px);
    font-size: rem(14px);
  }

  &__toggle {
    width: fit-content;
    font-size: rem(14px);
  }

  &__field {
    font-size: rem(14px);
  }

  &__results {
    @include flex(flex-end, null, column);

    gap: rem(12px);
    min-height: rem(158px);
    padding: rem(15px) rem(16px);
    border-radius: rem(10px);
    background-color: var(--color-white);
    margin-top: rem(16px);

    .text {
      margin-top: auto;
      font-size: rem(14px);
      font-weight: var(--typography-semibold);
    }

    .icon {
      @include size(40px);

      align-self: center;
      color: var(--color-stroke-polar);
    }
  }

  &__top {
    padding-bottom: rem(30px);
  }

  &__bottom {
    padding-block: rem(15px) rem(40px);
  }

  &__header {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: rem(16px);
    align-items: center;
    margin-bottom: rem(16px);
  }

  &__body {
    padding-inline: rem(16px);
    border-radius: rem(10px);
    background-color: var(--color-white);
  }

  &__link {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: rem(10px);
    align-items: center;
    height: rem(54px);
    font-size: rem(18px);
    font-weight: var(--typography-semibold);
  }

  &__angle {
    @include size(rem(24px));
  }

  &__dropdown {

    &:not(:last-child) {
      border-bottom: rem(1px) solid var(--color-stroke-polar);
    }

    &--active {

      .submenu-mob {

        &__angle {
          transform: rotateZ(90deg);
        }

        &__wrapper {
          display: block;
        }
      }
    }
  }

  &__wrapper {
    display: none;
    padding-block: rem(15px);
    border-top: rem(1px) solid var(--color-stroke-polar);
  }

  &__sublink {
    display: block;
    font-weight: var(--typography-semibold);
    color: var(--color-neon-azure);

    &:not(:last-child) {
      margin-bottom: rem(20px);
    }
  }

  &__video {
    margin-top: rem(16px);
    padding: rem(15px);
  }

  &__success,
  &__empty {
    display: none;

    .text {
      margin-bottom: rem(12px);
    }
  }

  &__default {
    margin: auto;
  }
}
