extends ../generate/layout/_layout

block title
  - var title = "Jobs: Open Positions in Affiliate & Digital"

block content
  main.main
    +banner.banner--wide

    section.section
      .container-fluid
        .container
          +breadcrumbs([
            {
              text: 'Main page',
              url: './'
            },
            {
              text: 'Jobs',
              url: null
            }
          ])

          .content.content--left
            .content__header
              h1.content__title= title
              .text.content__text
                div
                  p Discover open roles across affiliate marketing, iGaming, crypto, and digital business. Browse opportunities by department, experience level, and work format.
                  br
                  p Want to publish a job listing? Submit your vacancy through the form on our website.
                +button('Post a Job').button--primary.button--md.js-post-job
            .content__left
              +filters.js-filters
            .content__center
              .grid
                each item, index in JOBS
                  .col-12
                    +job(item)
                .col-12
                  +more-button
            .content__right
              +banner

    section.section
      .container-fluid
        .container
          +banner

    section.section
      .container-fluid
        .container
          .text
            h3 Affiliate Program Ranking by “Heaffen” Media
            br
            p There are many CPA affiliate networks — several thousand — and their number continues to grow.
            br
            p Our team has prepared a list of top CPA networks, including affiliate programs from different verticals. The editorial team at “Heaffen” Media keeps a close eye on the market and works to update the affiliate program ranking as quickly as possible. So if you don’t find the one you need yet, feel free to contact us at admin@heaffen.media or on Telegram @heaffen_sales.
            br
            p Before starting to work with any CPA affiliate network from the list, we recommend reviewing information about the program, checking the company’s social media, and reading reviews. Remember, when choosing an affiliate network to run traffic, you are choosing a partner with whom you will earn money. So don’t neglect basic checks to ensure the company’s reliability and safety.
            br
            p Choose your top CPA network or affiliate program and start driving traffic with a cosmic ROI! 🚀

    +job-add

    .modal.modal--notification
      .modal__content
        +button(null, null, 'close').button--square.button--transparent.modal__close
        +notification.notification--error

    .modal.modal--notification
      .modal__content
        +button(null, null, 'close').button--square.button--transparent.modal__close
        +notification.notification--success
