extends ../generate/layout/_layout

block title
  - var title = "Search results"

block content
  main.main
    +banner.banner--wide

    section.section
      .container-fluid
        .container
          +breadcrumbs([
            {
              text: 'Main page',
              url: './'
            },
            {
              text: 'Search results',
              url: null
            }
          ])

          .content.content--right
            .content__header
              h1.content__title= title
              .text.content__text
                p
                  | You searched for
                  span.content__label “Polymarket Banned”
                p We found 24 results across Articles, News, Offers, and Companies
            .content__left
              +banner
            .content__center
              .grid.content__section
                .col-12
                  .content__date Articles
                each item, index in ARTICLES.slice(0, 6)
                  .col-12.col-mob-m-6.col-desk-s-4
                    +article(item)
                .col-12
                  +pagination

              .grid.content__section
                .col-12
                  .content__date News
                each item, index in ARTICLES.slice(0, 6)
                  .col-12.col-mob-m-6.col-desk-s-4
                    +article-alt(item).article--alt
                .col-12
                  +pagination

              .grid.content__section
                .col-12
                  .content__date Affiliate Networks
                each item, index in DIRECTORIES.slice(0, 2)
                  .col-12
                    +directory-alt(item).directory--alt

              .grid.content__section
                .col-12
                  .content__date Events
                each item, index in EVENTS.slice(0, 2)
                  .col-12
                    +event-alt(item).event--alt

    section.section
      .container-fluid
        .container
          +banner

    section.section
      .container-fluid
        .container
          .text
            h3 Affiliate Program Ranking by “Heaffen” Media
            br
            p There are many CPA affiliate networks — several thousand — and their number continues to grow.
            br
            p Our team has prepared a list of top CPA networks, including affiliate programs from different verticals. The editorial team at “Heaffen” Media keeps a close eye on the market and works to update the affiliate program ranking as quickly as possible. So if you don’t find the one you need yet, feel free to contact us at admin@heaffen.media or on Telegram @heaffen_sales.
            br
            p Before starting to work with any CPA affiliate network from the list, we recommend reviewing information about the program, checking the company’s social media, and reading reviews. Remember, when choosing an affiliate network to run traffic, you are choosing a partner with whom you will earn money. So don’t neglect basic checks to ensure the company’s reliability and safety.
            br
            p Choose your top CPA network or affiliate program and start driving traffic with a cosmic ROI! 🚀
