@use 'rem-converter' as *;

@mixin scroll-y {
  overflow-y: auto;
  background-clip: content-box;
  overscroll-behavior: none;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  overscroll-behavior-y: contain;

  &::-webkit-scrollbar {
    width: rem(8px);
  }

  &::-webkit-scrollbar-corner {
    background-color: var(--color-polar-white);
  }

  &::-webkit-scrollbar-thumb {
    border: rem(1px) solid var(--color-stroke-polar);
    border-radius: rem(100px);
    background-color: var(--color-stroke-polar);
    background-clip: content-box;
  }

  &::-webkit-scrollbar-track {
    border-radius: rem(100px);
    background-color: var(--color-polar-white);
  }
}
