@use 'scss/config' as *;

.info-section {
  font-size: rem(14px);
  color: var(--color-carbon-black);

  @include media(tab-l) {
    font-size: rem(16px);
    line-height: 1.6;
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: rem(10px);
  }

  hr {
    margin-block: rem(10px) rem(30px);
    background-color: var(--color-neon-azure);
  }

  li {
    position: relative;
    padding-inline-start: rem(24px);

    &::before {
      @include size(rem(4px));

      position: absolute;
      top: rem(7px);
      inset-inline-start: rem(10px);
      border-radius: 50%;
      background-color: var(--color-black);
      content: '';
    }
  }

  a {
    color: var(--color-neon-azure);
    text-decoration: underline;
    text-underline-offset: rem(3px);

    @include hover {
      &:hover {
        color: var(--color-stellar-blue);
      }
    }
  }

  img,
  picture,
  video {
    border-radius: rem(5px);
  }
}
