:root {
  --color-white: #fff;
  --color-black: #000;
  --color-polar-white: #F3F4FF;
  --color-stroke-polar: #EAECFF;
  --color-grey-cool: #C0C1D0;
  --color-category-grey: #E5EFFE;
  --color-stone: #AEAEAE;
  --color-storm-grey: #717680;
  --color-dark-grey: #515151;
  --color-secret-yellow: #E0E302;
  --color-carbon-black: #161616;
  --color-electric-ocean: #0036FF;
  --color-neon-azure: #0160FD;
  --color-stellar-blue: #0039AE;
  --color-electric-lime: #3FC238;
  --color-alert: #FF383C;
}
