@use 'scss/config' as *;

:root {
  --font-size: 16px;
  --font-family: 'Gilroy', sans-serif;
  --line-height: 1.3;
  --typography-regular: 400;
  --typography-medium: 500;
  --typography-semibold: 600;
  --typography-bold: 700;
  --typography-extrabold: 800;
  --typography-black: 900;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: var(--typography-bold);
}

h1 {
  font-size: rem(32px);

  @include media(tab-s) {
    font-size: rem(48px);
  }
}

h2 {
  font-size: rem(24px);

  @include media(tab-s) {
    font-size: rem(36px);
  }
}

h3 {
  font-size: rem(20px);

  @include media(tab-s) {
    font-size: rem(24px);
  }
}

h4 {
  font-size: rem(16px);

  @include media(tab-s) {
    font-size: rem(18px);
  }
}
