@use 'scss/config' as *;

.slots-provider {
  padding: rem(20px) rem(16px);
  border-radius: rem(10px);
  border: rem(1px) solid var(--color-stroke-polar);
  background-color: var(--color-white);

  &__header {
    margin-bottom: rem(20px);
  }

  &__link {
    @include flex(center, center);

    @include hover {

      &:hover {

        .slots-provider {

          &__img {
            transform: scale(1.05);
          }
        }
      }
    }
  }

  &__img {
    @include transition;
  }

  &__item {
    display: grid;
    grid-template-columns: rem(111px) 1fr rem(24px);
    gap: rem(16px);
    align-items: center;
    padding: rem(20px);
    background: rgba(234, 236, 255, 0.2);
    border: rem(1px) solid var(--color-polar-white);
    border-radius: rem(10px);

    @include media(tab-l) {
      gap: rem(42px);
    }

    &:not(:last-child) {
      margin-bottom: rem(10px);
    }
  }

  &__title {
    font-weight: var(--typography-extrabold);
    font-style: italic;
    color: var(--color-neon-azure);
  }

  &__tags {
    flex-direction: column;
    align-items: stretch;
  }

  &__icon {
    @include size(rem(24px));
  }

  .icon {
    @include size(100%);
  }

  &--alt {

    .slots-provider {

      &__header {
        margin-bottom: rem(14px);
      }

      &__item {
        padding: rem(10px);
        gap: rem(13px);
      }
    }
  }
}
