mixin slots-provider
    .slots-provider&attributes(attributes)
        .slots-provider__header
            h3.slots-provider__title Best Slots Providers
        ul.slots-provider__list
            each item in SLOTS_PROVIDERS
                li.slots-provider__item
                    a(href=item.link rel="nofollow" title="Title" aria-label="Aria label").slots-provider__link
                        img(src=item.image decoding="async" fetchpriority="high" alt="Image").slots-provider__img
                    div
                        +tags(item.tags).slots-provider__tags
                    a(href=item.link rel="nofollow" title="Title" aria-label="Aria label")
                        +icon('arrow-right-circle')
