@use 'scss/config' as *;

.related-news {
  padding: rem(28px) rem(20px);
  border-radius: rem(10px);
  border: rem(1px) solid var(--color-stroke-polar);
  background-color: var(--color-white);

  &__header {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    gap: rem(8px);
  }

  &__item {
    padding-block: rem(20px);

    &:not(:last-child) {
      border-bottom: rem(1px) solid var(--color-category-grey);
    }

    &:last-child {
      padding-bottom: 0;
    }
  }

  &__date {
    margin-bottom: rem(5px);
    font-size: rem(14px);
    color: var(--color-neon-azure);
  }

  &__description {
    @include line-clamp(3);

    font-size: rem(18px);
    font-weight: var(--typography-semibold);
  }

  &__meta {
    margin-top: rem(5px);
    font-size: rem(14px);
    font-weight: var(--typography-semibold);
    color: var(--color-dark-grey);

    @include media(tab-l) {
      font-size: rem(16px);
    }
  }

  &__icon {
    @include size(rem(18px), rem(20px));

    color: var(--color-stroke-polar);
  }

  &--active {
    border-color: var(--color-neon-azure);

    .related-news {

      &__icon {
        color: var(--color-neon-azure);
      }
    }
  }
}
