mixin social-block
    .social-block&attributes(attributes)
        a(href="./" aria-label="MakeberryAffiliates").social-block__avatar
            img(src="https://palai.media/wp-content/uploads/2022/07/381553414_350629320725181_5890626018194820502_n-300x300.jpg").social-block__img
            .social-block__icon
                +icon('telegram')
        .social-block__content
            p.social-block__title Katerina | Affiliate Manager
            p.social-block__text @MakeberryAffiliates

mixin social-block-alt
    .social-block&attributes(attributes)
        a(href="./" aria-label="MakeberryAffiliates").social-block__avatar
            img(src="https://palai.media/wp-content/uploads/2022/07/381553414_350629320725181_5890626018194820502_n-300x300.jpg").social-block__img
            .social-block__icon
                +icon('telegram')
