mixin not-found-section
    section.section&attributes(attributes)
        .container-fluid
            .container
                .not-found-section
                    svg(viewbox='0 0 560 220' fill='none' xmlns='http://www.w3.org/2000/svg').not-found-section__logo
                        path(d='M177.6 130.2L168 184.2H147L141.6 214.8H82.8L88.2 184.2H0L9.6 130.2L88.2 4.7998H157.5L77.7 130.2H97.8L102.9 100.8H161.7L156.6 130.2H177.6Z' fill='#0160FD')
                        path(d='M559.6 130.2L550 184.2H529L523.6 214.8H464.8L470.2 184.2H382L391.6 130.2L470.2 4.7998H539.5L459.7 130.2H479.8L484.9 100.8H543.7L538.6 130.2H559.6Z' fill='#0160FD')
                        path(d='M269.701 219.6C242.101 219.6 222.001 209.1 209.401 188.1C196.801 167.1 193.501 140 199.501 106.8C205.301 73.4 217.201 47.3 235.201 28.5C253.401 9.5 276.801 0 305.401 0C332.801 0 352.801 10.5 365.401 31.5C378.001 52.5 381.401 79.6 375.601 112.8C369.601 146.4 357.601 172.6 339.601 191.4C321.801 210.2 298.501 219.6 269.701 219.6ZM259.201 109.8C253.001 144.2 259.401 161.4 278.401 161.4C297.401 161.4 310.001 144.2 316.201 109.8C322.001 75.4 315.501 58.2 296.701 58.2C277.501 58.2 265.001 75.4 259.201 109.8Z' fill='#0160FD')
                        path(d='M294.15 44.7407C292.206 44.4979 269.267 51.3155 258.04 54.7547C256.726 54.7547 253.793 55.4223 252.579 58.0927C251.062 61.4306 246.813 73.8723 243.779 84.4931C240.744 95.114 238.012 126.066 233.764 149.736C229.515 173.405 255.006 167.336 258.04 171.281C261.075 175.226 288.689 171.281 311.448 165.212C334.207 159.143 317.82 158.232 321.158 149.736C324.496 141.239 333.904 113.018 339.366 97.5417C344.828 82.0655 342.097 72.9619 341.49 68.4101C340.883 63.8583 330.869 51.1132 329.655 49.5959C328.441 48.0787 296.579 45.0441 294.15 44.7407Z' fill='#0160FD')
                        path(d='M244.279 150.776C259.535 133.71 294.487 100.95 314.707 155.561' stroke='#F3F4FF' stroke-width='7' stroke-linecap='round')
                        path(d='M250.178 94.905C234.373 84.9395 241.817 64.1178 251.435 60.9306C248.588 89.1287 267.889 71.371 269.49 55.0961C289.597 74.2269 275.369 94.2939 264.808 96.5899C272.435 63.6694 252.84 81.0108 250.178 94.905Z' fill='#F3F4FF')
                        path(d='M314.418 94.905C298.613 84.9395 306.057 64.1178 315.675 60.9306C312.829 89.1287 332.129 71.371 333.73 55.0961C353.837 74.2269 339.609 94.2939 329.048 96.5899C336.675 63.6694 317.08 81.0108 314.418 94.905Z' fill='#F3F4FF')
                    p.not-found-section__title Something went wrong this page doesn’t exist
                    a(href="/" aria-label="Back to home" title="Back").button.button--primary.button--lg.not-found-section__button
                        | Back to Home
