@use 'scss/config' as *;

.offer {
  display: grid;
  align-items: center;
  padding: rem(14px) rem(16px);
  border: 0;
  position: relative;
  font-weight: var(--typography-semibold);

  @include media(desk-s) {
    grid-template-columns: auto 1fr;
  }

  &::before {
    @include transition;

    position: absolute;
    inset: 0;
    border: rem(1px) solid var(--color-stroke-polar);
    border-radius: rem(10px);
    content: '';
  }

  &__meta,
  &__options{
    display: grid;
    align-items: center;
  }

  &__meta {
    grid-template-columns: rem(60px) 1fr;

    @include media(desk-s) {
      grid-template-columns: rem(60px) rem(235px);
    }
  }

  &__options {
    grid-template-columns: repeat(4, 1fr) rem(24px);

    @include media(desk-s) {
      grid-template-columns: repeat(5, 1fr) rem(24px);
    }
  }

  &__picture {
    padding: rem(5px);
    border: rem(1px) dashed var(--color-neon-azure);
    border-radius: rem(5px);
  }

  &__cell {
    padding: rem(15px) rem(10px);

    @include media(desk-s) {
      padding: 0 rem(15px);
    }

    &--verticals {
      padding-inline-start: 0;

      @include media(desk-s) {
        padding-inline-start: rem(15px);
      }
    }

    &--payout {
      display: none;

      @include media(desk-s) {
        display: block;
      }
    }
  }

  &__link {
    @include size(rem(24px));

    color: var(--color-neon-azure);
  }

  &__geos {
    @include flex(null, center);
  }

  &__geo {
    @include size(rem(25px));

    border: rem(1px) solid var(--color-category-grey);
    border-radius: 50%;

    &:not(:first-child) {
      margin-inline-start: rem(-10px);
    }
  }

  &__id {
    display: none;
    position: absolute;
    inset-block: 0;
    inset-inline-start: 0;
    width: rem(39px);
    font-size: rem(20px);
    color: var(--color-neon-azure);
  }

  .icon {
    @include size(100%);
  }

  @include hover {
    &:hover {
      color: var(--color-carbon-black);

      &::before {
        border-color: var(--color-neon-azure);

        @include media(desk-s) {
          border-left-width: rem(5px);
        }
      }
    }
  }

  &--alt {
    .offer {
      &__id {
        @include media(desk-s) {
          @include flex(center, center);
        }
      }

      &__meta {
        @include media(desk-s) {
          padding-left: rem(22px);
        }
      }
    }
  }
}
