@use 'scss/config' as *;

.mb {

  &-10 {
    margin-bottom: rem(10px);
  }

  &-16 {
    margin-bottom: rem(16px);
  }

  &-24 {
    margin-bottom: rem(24px);
  }
}

.text-decoration {

  &-underline {
    text-decoration: underline !important;
  }

  &-none {
    text-decoration: none !important;
  }
}

.d-none {
  display: none !important;
}

.color-neon-azure {
  color: var(--color-neon-azure);
}

@each $name, $value in $breakpoints {
  .d-#{$name}-none {
    @include media($name) {
      display: none !important;
    }
  }

  .d-#{$name}-block {
    @include media($name) {
      display: block !important;
    }
  }
}
