@use 'scss/config' as *;

.post {
  line-height: 1;

  &__picture {
    display: block;
    aspect-ratio: 1.7 / 1;
    overflow: hidden;

    &::after {
      position: absolute;
      inset: 0;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, var(--color-black) 86.58%);
      content: '';
    }

    @include hover {
      &:hover {
        .post {
          &__img {
            transform: scale(1.05);
          }
        }
      }
    }
  }

  &__img {
    @include transition;
    @include size(100%);

    object-fit: cover;
  }

  &__content {
    @include flex(null, null, column);

    position: absolute;
    inset-inline: 0;
    inset-block-end: 0;
    max-height: 100%;
    gap: rem(10px);
    padding: rem(20px);
    z-index: $z-index-1;
  }

  &__description {
    @include line-clamp(2);

    font-size: rem(20px);
    font-weight: var(--typography-semibold);
    color: var(--color-white);

    @include media(tab-l) {
      font-size: rem(18px);
    }
  }

  &__footer {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: rem(8px);
    align-items: center;
    font-size: rem(14px);
    color: var(--color-stone);
  }

  &--lg {

    .post {

      &__description {
        font-size: rem(20px);

        @include media(tab-l) {
          font-size: rem(36px);
        }
      }
    }
  }
}
